 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>about</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I’ve been a gamer and computerer since I can remember - dating back to the late 80s and my Commodore 64. I managed to build a collection of 16 consoles and obtain a Master’s Degree in American Literature simultaneously. Then I started programming with the aspiration to make oddball games and deep-left-field apps for Apple platforms. I made it happen with my apps reaching #1 around the world!</p>
                </div>
                <div class="col-lg-4">
                    <p>I've also completed a post-graduate degree in Mobile Development with distinction. I like obscure nerdy things, my bass guitar and karaoke. I enjoy encouraging others to do/make stuff, so I’m a speaker too - my past conference gigs include Apple WWDC, JSConfEU, Rails Girls, try!swift NYC. I’m currently taking a gap year to travel and learn.</p>
                </div>

            </div>
        </div>
    </section>
