 <!-- About Section -->
    <section class="page-section bg-primary text-white mb-0" id="about">
        <div class="container">
            <!-- About Section Heading -->
            <h2 class="page-section-heading text-center text-uppercase text-white">about</h2>
            <!-- Icon Divider -->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- About Section Content -->
            <div class="row">
                <div class="col-lg-4 ms-auto"><p class="lead">I've been a gamer and computerer since I can remember - dating back to the late 80s and my Commodore 64. I managed to build a collection of 16 consoles and obtain a Master's Degree in American Literature simultaneously. Then I started programming with the aspiration to make oddball games and deep-left-field apps for Apple platforms. I made it happen with my apps reaching #1 around the world!</p></div>
                <div class="col-lg-4 me-auto"><p class="lead">I've also completed a post-graduate degree in Mobile Development with distinction. I like obscure nerdy things, my bass guitar and karaoke. I enjoy encouraging others to do/make stuff, so I'm a speaker too - my past speaking engagements include 🍏 WWDC, JSConfEU, Rails Girls, try!swift NYC. After making a few games, I worked on mobile payment apps in Denmark and Canada. <br/>I now live in Ottawa 🇨🇦  with my husband.</p></div>
            </div>
        </div>
    </section>
